.main {
  display: flex;
  width: 100%;
  height: auto;
  padding: 12px;
  background-color: #fafafa;
  border-radius: 8px;
  border: 1px solid #eaeaea;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: auto;
  align-items: center;
}

.title {
  font-size: 14.4px;
  font-weight: 400;
}

.agentInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}

.agentImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100vh;
  overflow: hidden;
  position: relative;
}
.image {
  object-fit: cover;
}

.agentName {
  font-size: 16px;
  font-weight: 500;
}

.imageNameWrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contactButton {
  width: 100%;
  padding: 12px 24px;
  background-color: #ff395d;
  color: white;
  border-radius: 8px;
}
