/* Default styles for all devices */
.module1 {
  grid-column: 1 / 8;
  grid-row: 1 / 9;
  width: 100%;
  display: flex;
}

.module2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

  grid-column: 8 / 11;
  grid-row: 1 / 4;
  width: 100%;
  height: 100%;
  display: flex;
}

.module3 {
  grid-column: 11 / 13;
  grid-row: 1 / 4;
  width: 100%;
  height: 100%;
  display: flex;
}

.module4 {
  grid-column: 8 / 13;
  grid-row: 4 / 9;
  width: 100%;
  height: 100%;
  display: flex;
}

.module5 {
  grid-column: 8 / 13;
  grid-row: 9 / 13;
  width: 100%;
  height: 100%;
  display: flex;
}

.module6 {
  grid-column: 1 / 8;
  grid-row: 9 / 13;
  width: 100%;
  height: 100%;
  display: flex;
}

/* Tablet and mobile styles */
@media (max-width: 768px) {
  .module1,
  .module2,
  .module3,
  .module4,
  .module5,
  .module6 {
    grid-column: 1 / 13;
    grid-row: auto;
    height: auto;
  }
}

.type {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #ff395d;
  padding: 4px 8px;
  border-radius: 100vh;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
