.main {
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  height: 64px;
}

.container {
  max-width: 1200px;
  height: 100%;
  padding: 0 40px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .container {
    padding: 0 32px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 24px;
  }
  .navlinkMobile {
    display: none !important;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 0 16px;
  }
  .navlinkMobile {
    display: none !important;
  }
}

.logoWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  object-fit: contain;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  gap: 8px;
}

.navlink {
  display: flex;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 8px;
}

.navlink:hover {
  background-color: #f7f7f7;
  transition: background-color 400ms ease;
}

.navlinkMobile {
  display: flex;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 8px;
}

.navlinkMobile:hover {
  background-color: #f7f7f7;
  transition: background-color 400ms ease;
}
